@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background: linear-gradient(to top, rgba(138, 159, 255, 0.521), rgba(180, 51, 255, 0.733));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    color: #000000;
    transition: transform 0.3s;
}

h1:hover {
    transform: scale(1.1);
}

p {
    color: #000000;
}

.retry-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.retry-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.inter-tight-uniquifier {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
