body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffc5c5;
    color: #530000;
    font-family: Arial, sans-serif;
    text-align: center;
    animation: backgroundAnimation 5s infinite alternate;
}

@keyframes backgroundAnimation {
    0% { background-color: hsl(355, 100%, 93%); }
    100% { background-color: #ff9b9b; }
}

h1 {
    font-size: 48px;
    animation: fadeIn 1s ease-in-out;
}

p {
    font-size: 24px;
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}