body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8d7da;
    color: #721c24;
    font-family: Arial, sans-serif;
    text-align: center;
}
.comforter-brush-regular {
    font-family: "Comforter Brush", cursive;
    font-weight: 400;
    font-style: normal;
}
      
.animated {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

h1 {
    font-size: 48px;
}

p {
    font-size: 24px;
}
